@charset "UTF-8";

@font-face {
	font-family: 'NEXON Lv1 Gothic OTF';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/* font-size: 100%; */
	/* font: inherit; */
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	/* font 체 찾아보기 */
	font-family: 'NEXON Lv1 Gothic OTF', '나눔 고딕', NanumGothic, '돋움', Dotum, sans-serif;
	line-height: 1;
	padding-top: 70px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
h1 {
  font-size: 30px;
  font-weight: inherit;
}
h2 {
  font-size: 24px;
  font-weight: inherit;
}

.visually_hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
.main {
  min-height: calc(100vh - 134px);
  /* header: 70, footer: 64 */
  max-width: 1000px;
  /* 최대 width 1000px 고정 */
  margin: 100px auto;
  /* 위아래 100px 고정 */
}

@media screen and (max-width: 768px),
screen and (max-height: 768px) and (orientation: landscape) {
  body {
    padding-top: 50px;
  }
  .main {
    min-height: calc(100vh - 114px);
    width: 80%;
  }
}

@keyframes appearSectionAnimation{
  from{
      opacity: 0;
  }
  to{
      transform: none;
      opacity: 1;
  }
}

.animationX_section {
  transform: translateX(-100px);
  opacity: 0;
  animation: appearSectionAnimation 1s ease-in-out forwards 0.3s;
}
.animationX_section:nth-child(2){
  transform: translateX(100px);
  animation-delay: 0.6s;
}
.animationX_section:nth-child(3){
  animation-delay: 0.9s;
}

.animationY_section{
  transform: translateY(100px);
  opacity: 0;
  animation: appearSectionAnimation 1s ease-in-out forwards 0.3s;
}
.animationY_section:nth-child(2){
  animation-delay: 0.6s;
}
.animationY_section:nth-child(3){
  animation-delay: 0.9s;
}
.animationY_section:nth-child(4){
  animation-delay: 1.2s;
}
.animationY_section:nth-child(5){
  animation-delay: 1.5s;
}
.animationY_section:nth-child(6){
  animation-delay: 1.8s;
}
.animationY_section:nth-child(7){
  animation-delay: 2.1s;
}
.animationY_section:nth-child(8){
  animation-delay: 2.4s;
}
.animationY_section:nth-child(9){
  /* AboutUs 마지막 장르 */
  animation-delay: 2.7s;
}